
* {
    font-family: Verdana, Arial, sans-serif;
}

a {
    display: block;
    margin: 3px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: left;
}

th, td {
    max-width: 300px;
    vertical-align: top;
    padding: 3px;
}
